.episode {
  color: darkgreen; /* All letters */
  display: grid; /* Puts cards in a grid */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* creates a 3 cards per row that repeats itself */
  gap: 20px; /* gap between cards */
  padding: 20px; /* padding between browser edges and main body */
}

body {
  background-color: darkgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.episode-card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 16px; /*makes cards with rounded box edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*shadow in card */
  border: 4px; /* size of the outline of the box */
  padding: 15px; /* padding inside the card, pushes internal elements to the center */
  background-color: white; /* color of the card */
}

.episode-img {
  width: 100%; /* adjust in the whole width */
  height: auto; /* adjusts according to the rest of elements */
  border-radius: 8px; /* rounded edges of photo */
}

.input-box {
  border-radius: 5px;
  margin-right: 20px;
}

.search-text {
  font-style: italic;
  font-size: smaller;
}
